.PhotosComponent .lander {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.PhotosComponent {
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
	font-size: 20px;

}

.PhotosComponent .h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.PhotosComponent {
  color: #999;
}

.button {
border: none;
background: #404040;
color: #ffffff;
font-weight: 700;
padding: 20px;
letter-spacing: 3px;

text-transform: uppercase;
border-radius: 6px;
display: inline-block;
}

.button:hover {
color: #404040 !important;
font-weight: 700 !important;
padding: 20px;
letter-spacing: 3px;

background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}


.crop {
  /* height: 40vh; */
  /* object-fit: contain; */
  margin: 10px;
}

.crop img {
  /* overflow: hidden; */
  object-fit: contain;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}
